<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufscar.dc.controledepatrimonio" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Forms.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forms.DepartamentoActivity"
            android:label="@string/title_activity_departamento" />
        <activity
            android:name=".Forms.CadDepartamentoActivity"
            android:label="@string/title_activity_cad_departamento" />
        <activity
            android:name=".Forms.ListarDepartamentoActivity"
            android:label="@string/title_activity_listar_departamento" />
        <activity
            android:name=".Forms.ListarBluetoothActivity"
            android:label="@string/title_activity_listar_bluetooth" >
        </activity>
        <activity
            android:name=".Forms.CadResponsavelActivity"
            android:label="@string/title_activity_cad_responsavel" >
        </activity>
        <activity
            android:name=".Forms.ListarEtiquetaActivity"
            android:label="@string/title_activity_listar_etiqueta" >
        </activity>

        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />

        <activity
            android:name=".Forms.PatrimonioAdapter"
            android:label="@string/title_activity_etiqueta_adapter" >
        </activity>
    </application>

</manifest>
