<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufscar.dc.controledepatrimonio">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dmufscar"
        android:label="@string/app_name"

        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".Forms.Main"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forms.DepartamentoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_departamento" />
        <activity
            android:name=".Forms.CadDepartamentoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cad_departamento" />
        <activity
            android:name=".Forms.ListarDepartamentoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_listar_departamento" />
        <activity
            android:name=".Forms.ListarBluetoothActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_listar_bluetooth" />
        <activity
            android:name=".Forms.CadResponsavelActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cad_responsavel" />
        <activity
            android:name=".Forms.ListarEtiquetaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_listar_etiqueta" />

        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />

        <activity
            android:name=".Forms.CadPatrimonioActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cad_patrimonio"></activity>
        <activity
            android:name=".Forms.ListarPatrimonioActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_listar_patrimonio"></activity>
        <activity
            android:name=".Forms.PatrimonioActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_patrimonio"></activity>
    </application>

</manifest>
